<html>

<head>
	<title>Image Transformation</title>
	<link rel="stylesheet" href="/static/style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link rel="icon" href="/static/images/pixbay logo.png">
</head>
<script>
	function enableBtn() {
		$("#down_btn").prop("disabled", false);
		$("#down_btn").removeClass('disable');
	}

	function calculateAspectRatioFit(srcWidth, srcHeight, maxWidth, maxHeight) {
		var ratio = Math.min(maxWidth / srcWidth, maxHeight / srcHeight);
		return { width: srcWidth * ratio, height: srcHeight * ratio };

	}
	// <!-- jo image select krtay uska url ajayega  -->
	function readURL(input) {
		if (input.files && input.files[0]) {
			document.getElementById('result').style.display = 'none';
			var reader = new FileReader();
			reader.onload = function (e) {
				var img = new Image()
				img.src = e.target.result;
				img.onload = function () {
					var size = calculateAspectRatioFit(this.width, this.height, 500, 500)
					$('#input_image').attr('src', e.target.result).width(size.width).height(size.height);
				}
			};
			reader.readAsDataURL(input.files[0]);
		}
	}

	function download() {
		const link = document.createElement("a");
		link.href = document.getElementById('result').src;
		link.download = 'download.png';
		document.body.appendChild(link);

		link.dispatchEvent(
			new MouseEvent('click', {
				bubbles: true,
				cancelable: true,
				view: window
			})
		);

		document.body.removeChild(link);
	}
	// ajax sai yai hota kai request jb aik dafa jaati hai tou wou jb tk result show hoga
	// this function let you to display image on the same page
	function send_request(url) {
		var formData = new FormData();
		formData.append('file', $('#input_file')[0].files[0]);

		$.ajax({
			url: url,
			type: 'POST',
			data: formData,
			processData: false,
			contentType: false,
			xhrFields: {
				responseType: 'blob'
			},
			success: function (data) {
				let img = document.getElementById('result');
				const blobUrl = URL.createObjectURL(data);
				img.src = blobUrl;
				document.getElementById('result').style.display = 'flex';
				enableBtn();
				img.width = $('#input_image').width();
				img.height = $('#input_image').height();
			}
		});
	}

</script>

<body>
	<!-- splash screen -->
	<div class="intro">
		<h2 class="logo-header">
			<!-- <img src="/static/images/pixbay logo.png" class="logoimg"> -->
			<span class="logo"><img src="/static/images/pixbay logo.png" class="logoimg"> Pix</span><span
				class="logo">Bay.</span>
		</h2>
	</div>
	<!------------------------ Main container starts----------------------------->
	<div class="main-container">
		<!-- side bar -->
		<div class="aside">
			<div class="nav-toggler">
				<span></span>
			</div>

			<ul class="nav">
				<div class="logopic">
					<img src="/static/images/pixbay logo.png">
				</div>
				<div class="links">
					<a href="/"><i class="homei fa fa-home"></i> HOME</a>
					<a href="/about"><i class="homei fa fa-circle-info"></i> ABOUT </a>
				</div>
				<br>

				<h4>Image Transfiguration</h4>
				<li>
					<button class="button1" onclick="send_request('/blur');">Blur</button>
					<button class="button1" onclick="send_request('/sketch');">Sketch</button>
				</li>
				<li>
					<button class="button1" onclick="send_request('/grayscale');">Grayscale</button>
					<button class="button1" onclick="send_request('/color');">Colorize</button>
				</li>
				<h4>Image enhancements</h4>
				<li>
					<div class="slider_input">
						<form action="">
							<p>Contrast : <span id="contrast_value"></span></p>
							<input type="range" min="1" max="20" value="10" name="contrast" id="contrast"
								class="myRange">
						</form>
					</div>
				</li>
				<li>
					<div class="slider_input">
						<form action="">
							<p>Sharpness: <span id="sharpen_value"></span></p>
							<input type="range" min="1" max="20" value="10" name="sharpen" class="myRange" id="Sharpen">
						</form>
					</div>
				</li>
				<li>
					<div class="slider_input">
						<form action="">
							<p>Brightness: <span id="bright_value"></span></p>
							<input type="range" min="1" max="20" value="10" name="bright" id="bright" class="myRange">
						</form>
					</div>
				</li>
				<li>
					<div class="slider_input">
						<form action="">
							<p>Saturation: <span id="saturate_value"></span></p>
							<input type="range" min="1" max="20" value="10" name="saturate" class="myRange"
								id="saturate">
						</form>
					</div>
				</li>
			</ul>
		</div>
		<!-- main content start -->

		<div class="main-content">
			<div class="home section">
				<div class="container">
					<h3 class="hello"><span class="name">PixBay </span> Ready. Set. Wow!!</h3>
					<h3 class="type">This website help users to apply different transformation to images like <span
							class="typing">Deblur</span></h3>
				</div>

				<!-- file buttons -->
				<div class="download">
					<label class="labels">UPLOAD FILE: </label>
					<input type="file" name="file" class="buttond" onchange="readURL(this);" id="input_file"
						accept="image/png, image/jpeg, image/gif" />
					<button class=" fa fa-download buttond disable " onclick="download()" id="down_btn" disabled>
						Download</button>
				</div>

				<div class="main">
					<img id="result" />
					<img id="input_image" />
				</div>
			</div>
			<div class="circle_icons">
				<button class="a" onclick="send_request('/mirror');"><i class="fa fa-clone"></i> Mirror</button>
				<button class="a" onclick="send_request('/rescale');"><i class="fa-solid fa-minimize"></i>
					Scale</button>
				<button class="a" onclick="send_request('/transpose');"><i
						class="fa-solid fa-retweet"></i>Transpose</button>
				<button class="a" onclick="send_request('/rot');"><i class="fa-solid fa-rotate-left"></i>Rotate</button>
				<button class="a" onclick="send_request('/shearX');"><i class="fa-solid fa-map"></i>Shear X</button>
				<button class="a" onclick="send_request('/shearY');"><i class="fa-solid fa-map"></i> Shear Y</button>
			</div>
		</div>
	</div>
	</div>

</body>
<script>
	document.getElementById("contrast_value").innerHTML = 0
	document.getElementById("sharpen_value").innerHTML = 0
	document.getElementById("saturate_value").innerHTML = 0
	document.getElementById("bright_value").innerHTML = 0

	document.getElementById("contrast").oninput = function () {
		document.getElementById("contrast_value").innerHTML = $(this).val() - 10;
		document.getElementById("sharpen_value").innerHTML = 0;
		document.getElementById("bright_value").innerHTML = 0;
		document.getElementById("saturate_value").innerHTML = 0;
		document.getElementById("Sharpen").value = 10;
		document.getElementById("bright").value = 10;
		document.getElementById("saturate").value = 10;
		send_slide('/contrast', $(this).val())
	}

	document.getElementById("Sharpen").oninput = function () {
		document.getElementById("sharpen_value").innerHTML = $(this).val() - 10;
		document.getElementById("contrast_value").innerHTML = 0;
		document.getElementById("bright_value").innerHTML = 0;
		document.getElementById("saturate_value").innerHTML = 0;
		document.getElementById("contrast").value = 10;
		document.getElementById("bright").value = 10;
		document.getElementById("saturate").value = 10;
		send_slide('/sharpen', $(this).val())
	}

	document.getElementById("bright").oninput = function () {
		document.getElementById("bright_value").innerHTML = $(this).val() - 10;
		document.getElementById("sharpen_value").innerHTML = 0;
		document.getElementById("contrast_value").innerHTML = 0;
		document.getElementById("saturate_value").innerHTML = 0;
		document.getElementById("Sharpen").value = 10;
		document.getElementById("contrast").value = 10;
		document.getElementById("saturate").value = 10;
		send_slide('/bright', $(this).val())
	}

	document.getElementById("saturate").oninput = function () {
		document.getElementById("saturate_value").innerHTML = $(this).val() - 10;
		document.getElementById("sharpen_value").innerHTML = 0;
		document.getElementById("contrast_value").innerHTML = 0;
		document.getElementById("bright_value").innerHTML = 0;
		document.getElementById("Sharpen").value = 10;
		document.getElementById("contrast").value = 10;
		document.getElementById("bright").value = 10;
		send_slide('/saturation', $(this).val())
	}
	function send_slide(url, slide_value) {
		var formData = new FormData();
		formData.append('value', slide_value)
		file = $('#input_file')[0].files[0];
		formData.append('file', file)
		$.ajax({
			url: url,
			type: 'POST',
			data: formData,
			processData: false,
			contentType: false,
			xhrFields: {
				responseType: 'blob'
			},
			success: function (data) {
				let img = document.getElementById('result');
				const blobUrl = URL.createObjectURL(data);
				img.src = blobUrl;
				document.getElementById('result').style.display = 'flex';
				enableBtn();
				img.width = $('#input_image').width();
				img.height = $('#input_image').height();
			}
		});
	}

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
<script src="/static/script.js"></script>

</html>